{% extends "base.html" %}
{% block content %}

<div id="options" class="card">
    <div class="card-body">
        <h5><em>Options:</em></h5>
        <ul>
            <li><a href="/time">Time Reporting: </a></li>
            <li><a href="/accounting">Accounting: </a></li>
            <li><a href="/it_help">IT Helpdesk: </a></li>
            <li><a href="/engineering_docs">Engineering Docs: </a></li>
            <li><a href="/logout">Logout: </a></li>
        </ul>
    </div>
</div>

{% endblock %}